/* red-header */

.red-header {
  background: url("https://i.imgur.com/nxP44lH.jpg");
  background-size: cover;
  background-color: darkred;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 5px 5px black;
}

.head-link:hover .fa-caret-right {
  margin-right: .1em; margin-left: .3em;
  transition-duration: 0.3s;
}

.head-anchor {color: white; margin-right: 1em;}
.head-anchor:hover {color: white;}

.fas {
  color: white;
  margin-right: .4em;
  margin-top: auto;
  margin-bottom: auto;
}

/* black-header */

.black-header {
  background: url("https://i.imgur.com/NpEAiR2.jpg");
  background-size: cover;
  border-top: 1px solid black;
  padding: 3em;
  display: flex;
}

.lead {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  padding-left: 0.5em;
  border-left: 2px solid red;
  font-family: Abel;
}

.lead:hover {
  bottom: 100%;
}

.logo {
  margin-left: 3em;
}

.black-header > div{
  width: 20em;
}
